/* Import Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800;900&display=swap"); */
@import "tailwindcss";

:root {
  --color-accent: #ff804a;
  --color-dark: #010208;
  --color-gray: #cbcbcb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @apply font-[Syne] text-white overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: syne;
}

h1 {
  @apply font-extrabold text-[2.4rem] sm:text-[3.2rem] md:text-[3.6rem] lg:text-[4.8rem] xl:text-[5.6rem] 2xl:text-[8.2rem];
}

h3 {
  @apply font-bold text-[3rem] sm:text-[4rem];
}

h5 {
  @apply text-[2.4rem] font-semibold;
}

/* font sizes */
.body-font {
  @apply text-[1.6rem] sm:text-[1.8rem];
}

.small-font {
  @apply text-[1.4rem] sm:text-[1.6rem];
}

.large-font {
  @apply text-[2rem];
}

.section-pd {
  @apply px-[3rem] md:px-[6rem] lg:px-[16rem] py-12 mb-32;
}

.outlined-text {
  color: transparent;
  /* font-family: syne, sans-serif; */
  -webkit-text-stroke: 2px white; /* Creates the outlined effect */
}
